* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    width: 950px; 
    height: 600px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.left-panel {
    width: 30%;
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
}

.left-panel h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


.confirm-btn {
    background-color: #87CEEB;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


.right-panel {
    width: 70%;
    background-color: white;
    padding: 20px;
}

.right-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-right{
    margin-top: 0cm;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6F7FF;
    backdrop-filter: blur(10px);
}


form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.form-suatk{
    margin-top: 1cm;
    margin-left: -7cm;
}
